#whitepaper.md
#whitepaper.markdown
whitepaper.*
*.log
output/*
.ipynb_checkpoints
*.sage.py
*.ipynb
includes/ut/tiling/*.png
*.7z
# copies of pdfs i'm moving to root folder, we can remove this next line later if desired
/*.pdf
node_modules
