#whitepaper.md
#whitepaper.markdown
whitepaper.*
*.log
output/*
.ipynb_checkpoints
*.sage.py
./*.ipynb
includes/ut/tiling/*.png
includes/ut/tiling/*.svg
*.7z
# copies of pdfs i'm moving to root folder, we can remove this next line later if desired
/*.pdf
node_modules
/*.zip
*.pgf-plot.*
*.pgf-plot.gnuplot
includes/**/*.pdf
includes/**/*.ps
includes/handout/*.md
*.dvi
*.pdf
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log

includes/**/*.old
includes/ut/diags/**/*.png
*.synctex*
*.out
*.toc
*.ignore
**/*.pyc
*/testing/*
/package-lock.json
/_copy_wp.sh
.psc-ide-port
includes/refl_entropy
